---
BasedOnStyle: LLVM
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: AlignWithSpaces
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
BinPackParameters: false
BinPackArguments: false
SeparateDefinitionBlocks: Always
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 80
...
