[submodule "lib/ctest"]
	path = lib/ctest
	url = git@github.com:wdhg/ctest.git
[submodule "lib/arena"]
	path = lib/arena
	url = git@github.com:wdhg/arena.git
[submodule "lib/fixint"]
	path = lib/fixint
	url = git@github.com:wdhg/fixint.git
